/* App.css */
body {
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  background-color: #121212; /* Charcoal dark */
  color: #e0e0e0; /* Soft white */
}

body, html, #root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #121212;
  color: #e0e0e0;
}
