.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #121212;
  padding: 20px;
}

.result-box {
  background: #1e1e1e;
  padding: 30px 20px;
  border-radius: 16px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
  width: 100%;
  max-width: 450px;
  text-align: center;
  border: 1px solid #2c2c2c;
}

.logo {
  width: 80px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.result-box h2 {
  margin-bottom: 20px;
  font-size: 20px;
  color: #ffc107;
}

.result-box h3 {
  margin-bottom: 20px;
  color: #e0e0e0;
  font-weight: 500;
}

.match-box {
  background: #2a2a2a;
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
  text-align: left;
  border: 1px solid #333;
}

.match-box p {
  margin: 5px 0;
  color: #cccccc;
  font-size: 14px;
}

.uploaded-photo {
  width: 100%;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #2c2c2c;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.4);
}
